<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>this is Main page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
	th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
<script
	src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

</head>
<body>
	<div class="container">
		<br /> <br /> <br />
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">

				<label class="control-label" for="input01">No.</label>
				<div class="controls">
					<input id="mouseNoInput" type="text" placeholder="mouse No."
						name="mouseNo" class="form-control"></input> <br />
					<div id="mouseNoError"></div>
				</div>

				<label class="control-label" for="input01">tumor length</label>
				<div class="controls">
					<input id="tumorLengthInput" type="number"
						placeholder="tumor length" name="tumorLength" class="form-control"></input>
					<br />
					<div id="tumorLengthError"></div>
				</div>

				<label class="control-label" for="input01">tumor width</label>
				<div class="controls">
					<input id="tumorWidthInput" type="number" placeholder="tumor width"
						name="tumorWidth" class="form-control"></input> <br />
					<div id="${tumorWidthError}"></div>
				</div>
				<label class="control-label" for="input01">tumor volume</label>
				<div class="controls">
					<input id="tumorVolumeInput" type="text" placeholder="tumor volume"
						name="tumorVolume" class="form-control"></input>
				</div>

				<br /> <br /> <br /> <br />
				<button type="button" id="addBut" class="btn btn-primary btn-block">Add</button>
				<br /> <br /> <a href="/groupMouse?mouseGroupId=1"
					th:href="@{/enterGroupId(mouseGroupId=${mouseGroupId})}"><button
						type="button" id="returnBut" class="btn btn-warning btn-block">Return</button></a>
			</div>
		</div>
	</div>

	<div id="loading" class="modal fade bs-example-modal-sm" tabindex="-1"
		role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">

			<div class="progress"
				style="width: 200px; margin: 0 auto; margin-top: 300px;">
				<div
					class="progress-bar progress-bar-info progress-bar-striped active"
					role="progressbar" aria-valuenow="20" aria-valuemin="0"
					aria-valuemax="100" style="width: 100%">
					<span class="sr-only">20% Complete</span>
				</div>
			</div>

		</div>
	</div>

	<script th:inline="JavaScript">
		/*<![CDATA[*/
		$('#addBut').click(function() {
			$('#loading').modal({
				show : true,
				backdrop : 'static'
			});
			$.ajax({
				async : true,
				type : "POST",
				url : [[@{/addMouse}]],
				data : {
					tumorLength : $("#tumorLengthInput").val(),
					tumorWidth : $("#tumorWidthInput").val(),
					tumorVolume : $("#tumorVolumeInput").val(),
					no : $("#mouseNoInput").val(),
					groupId : [[${mouseGroupId}]]
				},
				dataType : "json",
				success : function(data) {
					if(data['save'] == 1){
						$('#loading').modal('hide');
						$("#tumorLengthInput").val("");
						$("#tumorWidthInput").val("");
						$("#tumorVolumeInput").val("");
						$("#mouseNoInput").val("");
					}else{
						var r=confirm("是否要覆盖之前的记录 No:" + data.mouse.no + " tumor volume:" + data.mouse.tumorVolume)
					  	if (r==true) {
					  		$.ajax({
								async : true,
								type : "POST",
								url : [[@{/addMouse}]],
								data : {
									tumorLength : $("#tumorLengthInput").val(),
									tumorWidth : $("#tumorWidthInput").val(),
									tumorVolume : $("#tumorVolumeInput").val(),
									no : $("#mouseNoInput").val(),
									forceSave : "true",
									groupId : [[${mouseGroupId}]]
								},
								dataType : "json",
								success : function(data) {
									$('#loading').modal('hide');
									if(data['save'] == 1){
										$("#tumorLengthInput").val("");
										$("#tumorWidthInput").val("");
										$("#tumorVolumeInput").val("");
										$("#mouseNoInput").val("");
									}else{
										alert("保存失败");
									}
								} 
							})
						} else {
							$('#loading').modal('hide');
						} 
					}
				},
				error : function() {
					alert(arguments[1]);
				}
			});
		});
		
		$(function() {
			$('#tumorLengthInput')
					.bind(
							'input propertychange',
							function() {
								var length = $('#tumorLengthInput').val();
								if (!isNaN(length) && length != undefined
										&& length != "") {
									culTumorVolume();
									$('#tumorLengthError').hide();
								} else {
									$('#tumorVolumeInput').val(0)
									$('#tumorLengthError').show();
									$('#tumorLengthError')
											.html(
													'<div class="alert alert-danger" role="alert">tumor length must be number</div>')
								}
							});
		})
		$(function() {
			$('#tumorWidthInput')
					.bind(
							'input propertychange',
							function() {
								var length = $('#tumorWidthInput').val();
								if (!isNaN(length) && length != undefined
										&& length != "") {
									culTumorVolume();
									$('#tumorWidthError').hide();
								} else {
									$('#tumorVolumeInput').val(0)
									$('#tumorWidthError').show();
									$('#tumorWidthError')
											.html(
													'<div class="alert alert-danger" role="alert">tumor length must be number</div>')
								}
							});
		})
		function culTumorVolume() {
			var length = $('#tumorLengthInput').val();
			var width = $('#tumorWidthInput').val();
			if (length != undefined && width != undefined && length != ""
					&& width != "") {
				var volume = length * width * width / 2;
				$('#tumorVolumeInput').val(volume + "")
			}
		}
		/*]]>*/
	</script>
</body>
</html>