<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>this is Main page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
	th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
</head>
<body>
	<div class="container">
		<br /> <br /> <br /> <br /> <br /> <br /> <br />


		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-10 text-center">
				<form action="">
					<h1>mouse nums</h1>
					<br />
					<p style="font-size: 80px" th:text="${mouseGroupNum}">0</p>
					<br /> <br /> <br /> <br /> <input type="text" class="hidden"
						name="mouseGroupId" th:value="${mouseGroupId}"></input>


					<button type="submit" formmethod="get" th:formaction="@{/goAddMouse}"
						formaction="/goAddMouse" class="btn btn-primary btn-block">Add</button>
					<br /> <br />
					<button type="submit"
						th:formaction="@{/groupMouse?mouseGroupId=${mouseGroupId}}"
						class="btn btn-success btn-block">Group</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>